/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2022, 2:56:34 PM
    Author     : ngoni
*/

.button{
    -fx-background-color: #1B1F61;
}

.button:hover{
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
}