/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 May,2022, 12:16:27
    Author     : ngoni
*/

.input{
    -fx-border-style: hidden hidden solid hidden;
    -fx-background-color: transparent;
}

.loginFailed{
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #EB3A0B;
    -fx-font-size: 18px;
    -fx-font-family: Calibri;
}

.loginSuccess{
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #000000;
    -fx-font-size: 18px;
    -fx-font-family: Calibri;
}
